<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/lib/js/jquery.min.js"></script>
    <script src="/static/lib/js/require.min.js"></script>
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/flatui/css/flat-ui.min.css">
    <link rel="stylesheet" href="/static/control/base.css">
    <title>{% block PAGE_TITLE %}{% endblock %}</title>
</head>
<body>
<div class="page-nav">
    <a class="page-nav-item" href="{% url 'control:control_index' %}" data-toggle="tooltip" data-placement="right" title="管理首页"><span class="fui-home"></span></a>
    <a class="page-nav-item" href="{% url 'control:article_index' %}" data-toggle="tooltip" data-placement="right" title="文章"><span class="fui-document"></span></a>
    <a class="page-nav-item" href="{% url 'control:attr_index' %}" data-toggle="tooltip" data-placement="right" title="文章属性"><span class="fui-tag"></span></a>
</div>
<div class="main">

<div class="container">
    {% block main %}{% endblock %}
</div>
    <script>
        require(['/static/lib/bootstrap/js/bootstrap.min.js'], function (bootstrap) {
             $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</div>
</body>
</html>
