<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/lib/js/jquery.min.js"></script>
    <script src="/static/lib/js/require.min.js"></script>
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/flatui/css/flat-ui.min.css">
    <link rel="stylesheet" href="/static/control/base.css">
    <title>{% block PAGE_TITLE %}{% endblock %}</title>
</head>
<body>
<div class="page-nav">
    <ul>
        <li>首页</li>
        <ul>
            <li>2</li>
            <li>sadf</li>
        </ul>
        <li>文章</li>
        <ul>
            <li><a href="{% url 'control:article_add' %}">添加</a></li>
            <li><a href="{% url 'control:article_all' %}">所有</a></li>
            <li><a href="{% url 'control:article_published' %}">已发布</a></li>
            <li><a href="{% url 'control:article_draft' %}">草稿</a></li>
            <li><a href="{% url 'control:article_recycle' %}">回收站</a></li>
        </ul>
        <li>文章属性</li>
        <ul>
            <li><a href="{% url 'control:attr_category' %}">分类</a></li>
            <li><a href="{% url 'control:attr_tag' %}">标签</a></li>
        </ul>
    </ul>
</div>
<div class="main">

<div class="container">
    <div class="btn-toolbar">
        <div class="btn-group">
            <a href="{% url 'control:article_add' %}" class="btn btn-primary{% if pageattr == 'n' %} active{% endif %}"><span class="glyphicon glyphicon-plus"></span>&nbsp;添加</a>
            <a href="{% url 'control:article_all' %}" class="btn btn-primary{% if list_type == 'a' %} active{% endif %}"><span class="glyphicon glyphicon-inbox"></span>&nbsp;所有</a>
            <a href="{% url 'control:article_published' %}" class="btn btn-primary{% if list_type == 'p' %} active{% endif %}"><span class="glyphicon glyphicon-send"></span>&nbsp;已发布</a>
            <a href="{% url 'control:article_draft' %}" class="btn btn-primary{% if list_type == 'd' %} active{% endif %}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;草稿</a>
            <a href="{% url 'control:article_recycle' %}" class="btn btn-primary{% if list_type == 'r' %} active{% endif %}"><span class="glyphicon glyphicon-trash"></span>&nbsp;回收站</a>
        </div>
    </div>
    {% block main %}{% endblock %}
</div>

</div>
</body>
</html>
