{% extends 'blog/base.html' %}
{%  block content %}
    <a href="{% url 'blog:index' %}">首页</a>
    <a href="{% url 'blog:category' article.category_id %}"></a>

<div id="bd"></div>
    <h1>{{ article.title }}</h1>
    <h3>{{ article.last_modified_time|date:"Y-m-d h:m:s" }}</h3>
    <div>分类：{{ article.category.name }}</div>
    <div>标签：
    {% for tag in article.tags.all %}
        <a href="{% url 'blog:tag' tag.id %}">{{ tag.name }}</a>
    {% endfor %}
    </div>
    <div>
    {{ article.body |safe }}
    </div>
{% endblock %}