{% extends 'blog/base.html' %}
{%  block content %}
{% load paginate_tags %}
{% paginate article_list 5 %}

{% for article in article_list %}
    <h1>
        <a href="{% url 'blog:detail' article.pk %}">{{ article.title }}</a>
    </h1>
{% endfor %}


{% include 'blog/pagination.html' %}

<h2>分类</h2>
{% for cate in category_list %}
    <a href="{% url 'blog:category' cate.pk %}">{{ cate.name }}</a>
{% endfor %}

<h2>Tags</h2>
{% for tag in tag_list %}
    <a href="{% url 'blog:tag' tag.pk %}" class="list-group-item">
        <span class="badge"></span>{{ tag.name }}</a>
{% endfor %}
{% endblock %}