{% extends 'control/base.html' %}
{% block STYLE_SHEET %}
    <link rel="stylesheet" href="/static/lib/simditor/styles/simditor.css">
    <link rel="stylesheet" href="/static/lib/simditor/styles/simditor-markdown.css" media="screen" charset="utf-8">
{% endblock %}
{% block PAGE_TITLE %}{% if pageattr == 'n' %}新增文章{% elif pageattr == 'e' %}编辑文章{% endif %}{% endblock %}
{% block main %}
    <div class="btn-toolbar">
        <div class="btn-group">
            <a href="{% url 'control:article_add' %}" class="btn btn-primary{% if pageattr == 'n' %} active{% endif %}"><span class="glyphicon glyphicon-plus"></span>&nbsp;添加</a>
            <a href="{% url 'control:article_all' %}" class="btn btn-primary{% if list_type == 'a' %} active{% endif %}"><span class="glyphicon glyphicon-inbox"></span>&nbsp;所有</a>
            <a href="{% url 'control:article_published' %}" class="btn btn-primary{% if list_type == 'p' %} active{% endif %}"><span class="glyphicon glyphicon-send"></span>&nbsp;已发布</a>
            <a href="{% url 'control:article_draft' %}" class="btn btn-primary{% if list_type == 'd' %} active{% endif %}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;草稿</a>
            <a href="{% url 'control:article_recycle' %}" class="btn btn-primary{% if list_type == 'r' %} active{% endif %}"><span class="glyphicon glyphicon-trash"></span>&nbsp;回收站</a>
        </div>
    </div>

    <h3>{% if pageattr == 'n' %}新增文章{% elif pageattr == 'e' %}编辑文章{% endif %}</h3>
    <form class="form-horizontal" action="{% if pageattr == 'n' %}{% url 'control:article_add_handler' %}{% elif pageattr == 'e' %}{% url 'control:article_edit_handler' %}{% endif %}" method="post">

    {% if pageattr == 'e' %} <input type="hidden" name="id" value="{{ article.id }}" >{% endif %}
    <!-- Title -->
    <div class="row">
        <div class="col-sm-2"><p>标题</p></div>
        <div class="col-sm-10"> <input type="text" name="title" class="form-control input-sm" placeholder="标题" value="{% if pageattr == 'e' %}{{ article.title }}{% endif %}"></div>
    </div>
    <!-- Title ends -->

    <!-- Category, status -->
    <div class="row">
        <!-- Category -->
        <div class="col-sm-2">
            <p>分类</p>
        </div>
        <div class="col-sm-4">
            <select name="category" id="" class="form-control select select-primary select-block mbl select-sm">
                <option value="">------</option>
                {% for cate in category_list %}
                    <option value="{{ cate.id }}" {% if pageattr == 'e' and article.category_id == cate.id %}selected{% endif %}>{{ cate.name }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Category ends -->

        <!-- Status -->
        <div class="col-sm-2">
            <p>状态</p>
        </div>
        <div class="col-sm-4">
            <select name="status" id="" class="form-control select select-info select-block mbl select-sm">
                <option value="d" {% if article.status == 'd' or pageattr == 'n' %}selected{% endif %}>草稿</option>
                <option value="p" {% if pageattr == 'e' and article.status == 'p' %}selected{% endif %}>发布</option>
                <option value="r" {% if pageattr == 'e' and article.status == 'r' %}selected{% endif %}>回收站</option>
            </select>
        </div>
        <!-- Status ends -->
    </div>
    <!-- Category, status ends -->
    <!-- Tag -->
    <div class="row">
        <div class="col-sm-2">
            <p>标签</p>
        </div>
        <div class="col-sm-10">
            <!--标签选择-->
            <select name="" class="form-control select select-success select-block mbl select-sm" id="tag_select" data-toggle="select">
                <option value="">---</option>
                {% for tag in tag_list %}
                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
    &nbsp;
            <button type="button" class="btn btn-success btn-sm" onclick="FetchTagValue()">添加</button>
        </div>
    </div>
     <div class="row">
        <!-- 标签列表 -->
        <div class="bootstrap-tagsinput" id="tag_select_area">
            {% if pageattr == 'e' %}
                {% for tag in article.tags.all %}
                    <span tagval="{{ tag.id }}" class="tags tag label label-success">{{ tag.name }}<input type="hidden" name="tags[]" value="{{ tag.id }}"><span data-role="remove" onclick="RemoveTag(this)"></span></span>
                {% endfor %}
            {% endif %}
        </div>

     </div>

    <div class="row">
        <div>摘要</div>
        <div>
            <textarea name="abstract" id="editor-abstract" cols="50" rows="5">{% if pageattr == 'e' %}{{ article.abstract }}{% endif %}</textarea>
        </div>
    </div>
    <div>
        <div>正文</div>
        <div>
            <textarea name="body" id="editor-body" cols="50" rows="20">{% if pageattr == 'e' %}{{ article.body }}{% endif %}</textarea>
        </div>

    </div>
    {% if pageattr == 'e' %}
        <div>上次修改时间：&nbsp;{{ article.last_modified_time|date:'Y-m-d H:i:s' }}</div>
        <div>创建时间：&nbsp;{{ article.created_time|date:'Y-m-d H:i:s' }}</div>
    {% endif %}
    {% csrf_token %}
        <input type="submit">
    </form>

    <script>
    /**
     * USE Simditor
     **/
    /**
    require.config({
        paths: {
            jquery: '/static/lib/js/jquery.min',
            simditor: '/static/lib/simditor/scripts/simditor.min',
            'simple-module': '/static/lib/simditor/scripts/module.min',
            'simple-hotkeys': '/static/lib/simditor/scripts/hotkeys.min',
            'simple-uploader': '/static/lib/simditor/scripts/uploader.min',
            'simditor-marked': '/static/lib/simditor/scripts/simditor-marked',
            'simditor-markdown': '/static/lib/simditor/scripts/simditor-markdown',
            marked: '/static/lib/simditor/scripts/marked',
            'to-markdown': '/static/lib/simditor/scripts/to-markdown'
        }
    });
    // Import flatui
    requirejs(['/static/lib/flatui/js/flat-ui.min.js'], function (flatui) {
        $("select").select2({dropdownCssClass: 'dropdown-inverse'});
    });

    require(
    [
      'jquery',
      'simditor',
      'simditor-marked',
            'simditor-markdown','marked','to-markdown'
    ],function($, Simditor){
      var editor_body = new Simditor({
        textarea: $('#editor-body'),
          markdown: true,
        toolbar: [
          'markdown',
          'title',
          'bold',
          'italic',
          'underline',
          'strikethrough',
          'fontScale',
          'color',
          'ol',
          'ul',
          'blockquote',
          'code',
          'table',
          'link',
          'image',
          'hr',
          'indent',
          'outdent',
          'alignment'
        ]
      });
    });
**/


    /**
     *  USE StackEdit as markdown editor
     * @param elem
     * @constructor
     */


    function RemoveTag(elem) {
        elem.parentNode.parentNode.removeChild(elem.parentNode);
    }
    function AddTag(id, name) {
        if(id != null){
            var all_tags = document.getElementsByClassName("tags");
            var ifexist = false;
            for(var i=0;i< all_tags.length;i++){
                if(all_tags[i].getAttribute("tagval")==id.toString()){
                    ifexist = true;
                    break;
                }
            }
            if(ifexist==false){
                var tagnode = document.createElement("span");
                tagnode.setAttribute("tagval", id);
                tagnode.className = "tags tag label label-success";
                tagnode.innerHTML = name.toString()+"<input type='hidden' name='tags[]' value='"+id.toString()+"'><span data-role='remove' onclick='RemoveTag(this)'></span>";
                document.getElementById("tag_select_area").appendChild(tagnode);
            }
        }
    }
    function FetchTagValue(){
        var selector = document.getElementById("tag_select");
        var index = selector.selectedIndex;
        var text = selector.options[index].text;
        var value = selector.options[index].value;
        AddTag(value, text);
    }
    </script>

{% endblock %}