{% extends 'control/base.html' %}
{% block PAGE_TITLE %}编辑文章{% endblock %}
{% block main %}
    <h2>编辑文章</h2>
<div>
    <label for="">标题</label>
    <input type="text" value="{{ article.title }}">
</div>
    <div>
        <label for="">摘要</label>
        <textarea name="" id="" cols="50" rows="30">{{ article.abstract }}</textarea>
    </div>
    <div>
        <label for="">正文</label>
        <textarea name="" id="" cols="50" rows="30">{{ article.body |safe }}</textarea>
    </div>
    <div>
        <span>上次编辑时间：&nbsp;{{ article.last_modified_time |date:'Y-m-d H:i:s' }}</span>
    </div>
    <div><span>创建时间：&nbsp;{{ article.created_time |date:'Y-m-d H:i:s' }}</span></div>
{% endblock %}