{% extends 'control/base.html' %}
{% block PAGE_TITLE %}{% if list_type == 'a' %}所有文章{% elif list_type == 'p' %}已发布{% elif list_type == 'd' %}草稿{% elif list_type == 'r' %}回收站{% endif %}{% endblock %}
{% block main %}
    <div class="btn-toolbar">
        <div class="btn-group">
            <a href="{% url 'control:article_add' %}" class="btn btn-primary{% if pageattr == 'n' %} active{% endif %}"><span class="glyphicon glyphicon-plus"></span>&nbsp;添加</a>
            <a href="{% url 'control:article_all' %}" class="btn btn-primary{% if list_type == 'a' %} active{% endif %}"><span class="glyphicon glyphicon-inbox"></span>&nbsp;所有</a>
            <a href="{% url 'control:article_published' %}" class="btn btn-primary{% if list_type == 'p' %} active{% endif %}"><span class="glyphicon glyphicon-send"></span>&nbsp;已发布</a>
            <a href="{% url 'control:article_draft' %}" class="btn btn-primary{% if list_type == 'd' %} active{% endif %}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;草稿</a>
            <a href="{% url 'control:article_recycle' %}" class="btn btn-primary{% if list_type == 'r' %} active{% endif %}"><span class="glyphicon glyphicon-trash"></span>&nbsp;回收站</a>
        </div>
    </div>
    <h3>{% if list_type == 'a' %}所有文章{% elif list_type == 'p' %}已发布{% elif list_type == 'd' %}草稿{% elif list_type == 'r' %}回收站{% endif %}</h3>
<table class="table table-hover">
<thead>
    <td width="20%">标题</td>
    <td width="35%">摘要</td>
    <td width="10%">添加时间</td>
    <td width="10%">上次修改时间</td>
    <td width="10%">状态</td>
    <td width="15%">操作</td>
</thead>
    {% for article in article_list %}
<tr>
    <td>{{ article.title }}</td>
    <td>{{ article.abstract |safe }}</td>
    <td>{{ article.created_time |date:'Y-m-d H:m:s' }}</td>
    <td>{{ article.last_modified_time |date:'Y-m-d H:m:s' }}</td>
    <td>{% if article.status == 'p' %}<span class="btn btn-primary btn-sm">已发布{% elif article.status == 'd' %}<span class="btn btn-info btn-sm">草稿{% elif article.status == 'r' %}<span class="btn btn-warning btn-sm">回收站{% endif %}</span></td>
    <td>
        <a class="btn btn-inverse btn-xs" href="{% url 'control:article_edit' article.pk %}">编辑</a>
        {% if article.status == 'd' %}
            <a class="btn btn-primary btn-xs" href="{% url 'control:article_publish_handler' article.pk %}">发布</a>
            <a class="btn btn-warning btn-xs" href="{% url 'control:article_recycle_handler' article.pk %}">移入回收站</a>
        {% elif article.status == 'p' %}
            <a class="btn btn-info btn-xs" href="{% url 'control:article_restore_handler' article.pk %}">放入草稿</a>
            <a class="btn btn-warning btn-xs" href="{% url 'control:article_recycle_handler' article.pk %}">移入回收站</a>
            {% if article.topped == True %}<a class="btn btn-success btn-xs" href="{% url 'control:article_untop_handler' article.pk %}">取消置顶</a>{% else %}<a class="btn btn-success btn-xs" href="{% url 'control:article_top_handler' article.pk %}">置顶</a>{% endif %}
        {% elif article.status == 'r' %}
            <a class="btn btn-info btn-xs" href="{% url 'control:article_restore_handler' article.pk %}">恢复到草稿</a>
            <a class="btn btn-danger btn-xs" href="{% url 'control:article_del_handler' article.pk %}">彻底删除</a>
        {% endif %}
    </td>
</tr>
    {% endfor %}
</table>

{% endblock %}