<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/static/node_modules/vue/dist/vue.js"></script>
    <script src="/static/node_modules/jquery/dist/jquery.js"></script>
</head>
<body>
<div id="article">
    <div>正在加载</div>
    <div v-for="article in items">
        <div>${ article.title }</div>
        <div>${ article.body }</div>
    </div>
</div>

<script>
    var articlelist = new Vue({
        el:'#article',
        delimiters : ['${', '}'],
        data: {
            items: []
        }
    });

    $.get('/api/manage/article', function(data){
        articlelist.items = data;
    });
</script>
</body>
</html>