{% extends 'control/base.html' %}
{% block PAGE_TITLE %}分类{% endblock %}
{% block main %}
    <h2>分类</h2>
    <div>
    <h3>分类列表</h3>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>分类名称</th>
                <th>创建时间</th>
                <th>上次修改</th>
                <th>修改</th>
                <th>删除</th>
            </tr>
            </thead>
            {% for cate in category_list %}
                <tr>
                    <td>{{ cate.id }}</td>
                    <td>{{ cate.name }}</td>
                    <td>{{ cate.created_time|date:'Y-m-d h:i:s' }}</td>
                    <td>{{ cate.last_modified_time|date:'Y-m-d h:i:s' }}</td>
                    <td>
                        <form action="{% url 'control:attr_category_edit_handler' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ cate.id }}">
                            <input type="text" name="name" value="{{ cate.name }}">
                            <button type="submit">修改</button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'control:attr_category_del_handler' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ cate.id }}">
                            <button type="submit">删除</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
    <div>
    <h3>添加分类</h3>
        <form action="{% url 'control:attr_category_add_handler' %}" method="post">
            <label for="">分类名称</label>
            <input type="text" name="new_cate">
            {% csrf_token %}
            <input type="submit">
        </form>
    </div>
{% endblock %}