{% extends 'control/base.html' %}
{% block PAGE_TITLE %}分类{% endblock %}
{% block main %}
    <h2>分类</h2>
    <div>
    <h3>分类列表</h3>
    </div>
    <div>
        <ul>
            {% for cate in category_list %}
            <li>{{ cate.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
    <h3>添加分类</h3>
        <form action="{% url 'control:attr_category_add_handler' %}" method="post">
            <label for="">分类名称</label>
            <input type="text" name="new_cate">
            {% csrf_token %}
            <input type="submit">
        </form>
    </div>
{% endblock %}