{% extends 'control/base.html' %}
{% block PAGE_TITLE %}
    {% if page_type == 'category' %}分类{% elif page_type == 'tag' %}标签{% endif %}
{% endblock %}
{% block main %}
    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn btn-info" href="{% url 'control:attr_category' %}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp; 分类</a>
            <a class="btn btn-info active" href="{% url 'control:attr_tag' %}"><span class="glyphicon glyphicon-tags"></span>&nbsp; 标签</a>
        </div>
    </div>
    <div>
    <h3>{% if page_type == 'category' %}分类{% elif page_type == 'tag' %}标签{% endif %}</h3>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="8%">ID</th>
                <th width="32%">修改</th>
                <th width="20%">创建时间</th>
                <th width="20%">上次修改</th>
                <th width="10%">操作</th>
            </tr>
            </thead>
            {% for item in list %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>
                        <form class="form-horizontal" action="{% if page_type == 'category' %}{% url 'control:attr_category_edit_handler' %}{% elif page_type == 'tag' %}{% url 'control:attr_tag_edit_handler' %}{% endif %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-xs-10"><input type="hidden" name="id" value="{{ item.id }}">
                                <input type="text" class="form-control input-sm" name="name" value="{{ item.name }}"></div>
                                <div class="col-xs-2"><button type="submit" class="btn btn-sm btn-info">修改</button></div>
                            </div>
                        </form>
                    </td>
                    <td>&nbsp;{{ item.created_time|date:'Y-m-d H:i:s' }}</td>
                    <td>&nbsp;{{ item.last_modified_time|date:'Y-m-d H:i:s' }}</td>
                    <td>
                        <form action="{% if page_type == 'category' %}{% url 'control:attr_category_del_handler' %}{% elif page_type == 'tag' %}{% url 'control:attr_tag_del_handler' %}{% endif %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ item.id }}">
                            <button type="submit" class="btn btn-sm btn-danger">删除</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>新建</td>
                <td>
                    <form class="form-horizontal" action="{% if page_type == 'category' %}{% url 'control:attr_category_add_handler' %}{% elif page_type == 'tag' %}{% url 'control:attr_tag_add_handler' %}{% endif %}" method="post">
                        <div class="form-group">
                            <div class="col-sm-10"><input type="text" class="form-control input-sm" name="new_cate" placeholder="新{% if page_type == 'category' %}分类{% elif page_type == 'tag' %}标签{% endif %}名称">
                        {% csrf_token %}</div>
                            <div class="col-sm-2"><button type="submit" class="btn btn-sm btn-primary">添加</button></div>
                        </div>
                    </form>
                </td>
                <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
            </tr>
        </table>

    </div>
{% endblock %}