{% extends 'control/base.html' %}
{% block PAGE_TITLE %}标签{% endblock %}
{% block main %}
    <h2>标签列表</h2>
    <div><h3>所有标签</h3></div>
    <div>
    <ul>
        {% for tag in tag_list %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>
    </div>
    <div>
    <h3>添加标签</h3>
        <form action="{% url 'control:attr_tag_add_handler' %}" method="post">
            <label for="">标签名称</label>
            <input type="text" name="new_tag">
            {% csrf_token %}
            <input type="submit">
        </form>
    </div>

{% endblock %}